@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1f3a5f;
  --color-primary-hover: #3e6ba8;
  --color-success: #5fb49c;
  --color-success-hover: #4da08a;
  --color-warning: #f4a261;
  --color-warning-hover: #f29549;
  --color-error: #e76f51;
  --color-error-hover: #e45539;
  --color-bg: #f4f6f8;
}

html,
body,
#root {
  min-height: 100%;
  height: auto;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes scale-in {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scale-in {
  animation: scale-in 0.2s ease-out;
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
